<!-- Portfolio Modals -->
{% for project in site.portfolio %}
  <div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">{{ project.caption.title }}</h2>
                {% for new in project.news %}
                <p class="item-intro text-muted">
                  <h5 style="text-align:left;">{{ new.time }}</h5>
                  <div style="text-align:left; ">{{ new.content }}</div>
                </p>
                {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i> Close </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<!-- End Portfolio Modals -->