<!-- Portfolio Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.portfolio.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
  {% for project in site.portfolio %}
      {% if project.number %}
      <div id="carouselExampleControls" class="carousel slide col-md-6 col-sm-6 portfolio-item" data-ride="carousel">
        <div class="carousel-inner">
            {%  for image in project.images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image }}" class="d-block w-100" alt="">
                    <div class="portfolio-caption">
                      <p class="text-muted">{{ image.remark }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
      </div>
      {% else %}  
      <div class="col-md-6 col-sm-6 portfolio-item">
        <div class="portfolio-caption" style="background-color:lightgray;">
          <h5 style="color:#158CBA; font-weight: bold;">{{ project.caption.title }}</h5>
          {% for new in project.news %}
            {% if new.top == 1 %}
            <p style="font-weight: bold; text-align: left;">· {{ new.time }}</p>
            <p style="text-align: left;"> {{ new.content }}</p>
            {% endif %}
          {% endfor %}
          <h6 style="font-weight: bold; text-align: right;">
            <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}" style="color:#158CBA;">...MORE</a>
          </h6>
        </div>
      </div>
      {% endif %}
	{% endfor %}
    </div>
  </div>
</section>
{% include modals.html %}