    <header>
        <nav class="navbar navbar-tiffany rectangle" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.baseurl | prepend: site.url }}/">
                        <span style="font-family: 'Times New Roman', Times, serif;color:#FED136;">{{ site.title }}</span>
                    </a>
                    <p class="navbar-text">{{ site.description }}</p>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ site.baseurl | prepend: site.url }}/teamtimeindex/" class="word-keep"><span class="octicon octicon-book"></span></span>&nbsp;&nbsp;List</a>
                        </li>
                        {% for p in site.pages %}{% if p.isNavItem %}
                        <li>
                            <a href="{{ p.url | prepend: site.baseurl | prepend: site.url }}" class="word-keep"><span class="octicon {{ p.icon }}"></span>&nbsp;&nbsp;{{ p.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

