---
layout: homepagedefault
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}{{page.img}}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{page.cname}}</div>
      <p>{{page.role}}</p>
    </div>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p><a href="mailto:{{ page.email }}" style="color:black;">{{page.email}}</a></p>
    </div>
  </header> <!-- End Header -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
