---
layout: teamtimedefault
---
<div class="row">
    <div class="content col-lg-9">
        <div class="sheet post">
          <header>
            <h2>{{ page.title }}</h2>
            <p class="post-meta">
                <span class="octicon octicon-clock"></span> {{ page.date | date: "%b %-d, %Y" }}
            </p>
            <p class="post-tag">
                <span>{% for cat in page.categories %}<a href="{{ '/category' | prepend: site.baseurl | prepend: site.url }}/#{{ cat }}"><span class="octicon octicon-list-unordered"></span>&nbsp;{{ cat }}</a>{% endfor %}</span>
            </p>
          </header>
          <hr class="boundary">
          <article>
            {{content}}
          </article>
        </div>
    </div>
    <div class="content-navigation col-lg-3">
      <div class="shadow-bottom-center" >
        <div class="content-navigation-toc">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;Author
            </div>
            <div class="content-navigation-list toc">
                <ul><li>{% if page.author %} {{ page.author }}{% endif %}</li></ul>
            </div>
        </div>
        <div class="content-navigation-tag">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;Tags
            </div>
            <div class="content-navigation-list">
                <ul>
                    {% for tags in page.tags %}
                    <li>
                        <a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}#{{ tags.tag }}"><span class="octicon octicon-tag"></span>&nbsp;{{ tags.tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content-navigation-related">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;Related
            </div>
            <div class="content-navigation-list">
                <ul>
                    {% assign postsAfterFilter = '-' | split: "-" %}
                    {% for p in site.posts %}
                        {%if p.url != page.url %}
                            {% assign commonTagCount = 0 %}
                            {% for tags in p.tags %}
                                {% if page.tags contains tags %}
                                    {% assign commonTagCount = commonTagCount | plus: 1 %}
                                {% endif %}
                            {% endfor %}

                            {% if commonTagCount > 0 %}
                                {% assign postsAfterFilter = postsAfterFilter | push: p %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if postsAfterFilter.size > 0 %}
                        {% for p in postsAfterFilter limit: 15 %}
                            <li>
                                <a href="{{ p.url | prepend: site.baseurl | prepend: site.url }}">{{ p.title }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
      </div>
    </div>
</div>